html {
    height: 100%;
    width: 100%;
    box-size: 62.5%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'SF Compact Display';
}

*{
    /*cursor: none;*/
},
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100%;
    transform: rotate(90deg);
    display: flex;
    flex-direction: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Regular.woff2') format('woff2'),
        url('SFCompactDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Medium.woff2') format('woff2'),
        url('SFCompactDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFCompact Text';
    src: url('SFCompactText-Bold.woff2') format('woff2'),
        url('SFCompactText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


#count {
    font-size: 30rem;
}


#time {
    font-size: 2rem;
    margin-left: -55rem;
    margin-top: -26rem;
} 

#container {
    position: relative;
    font-family: Roboto;
    background-image: url(https://himalayasingh.github.io/audio-player-play-and-pause-animation-1/img/bg.gif);
    background-size: 25rem;
    padding-bottom: 10rem;
    padding-right: 10rem;
    margin-left: 15rem;
    background-repeat: no-repeat;
    /* background-position: 50%;
    bottom: 60%; */
    /* display: flex;
    justify-content: center;; */
  }
  
  #statusText {
    /* margin: 0 auto; */
    color: #fff;
    font-size: 3rem;
    margin-top: 5.3rem;
    margin-left: 11rem;
    overflow-x: visible;
    text-align: center;
    cursor: default;
    /* padding: 1rem 0; */
    -webkit-user-select: none;
  }
  
  /* #waves {
    width: 100%;
    height: 100%;
    display: block;
  } */


  .link-adres {
      font-size: 2rem;
      background-color: white;
      color: black;
      padding: 0.2rem 1rem;
      font-weight: bold;
  }


  .mirror-container {
      display: flex;
      justify-content: space-between;
  }


  .fit-title {
      font-size: 2.7rem;
      background-color: white;
      color: black;
      padding: 0.2rem 1rem;
      font-weight: bold;
      margin-top: -20rem;
      margin-left: 17rem;
  }



  .eerste-surfnaar {
      font-size: 2.7rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
  }


  .tweede-surfnaar {
    margin-top: 1rem;
    font-size: 1.7rem;

    padding-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    opacity: 0.8;
    font-weight: bold;
}

  .link-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-top: 7rem;
      margin-bottom: -15rem;
      margin-left: -25rem;
  }

  .video {
      margin-top: -40rem;
      margin-left: 13rem;
  }

  .logo-video {
      margin-left: 17rem;
      margin-top: -10rem;
  }


  .aftel-container {
      margin-top: 7rem
  }